<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error!</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="error">
  <h1 class="error">Error!</h1>
  <br>
  <p class="error" id="unhappy">😭</p>
  <fieldset>
    <legend class="error">Details</legend>
    <div class="text">
    <p class="error"><%- error %><code></code></p>
    
  </div>
  </fieldset>

</body>
</html>