body {
    width: 900px;
    margin: 0 auto;
    font-family: 'Consolas';
    font-size: 14px;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: lightgray;
    border-image: initial;
}

p {
    font-weight: bold;
}

code {
    font-weight: normal;
}

legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.text {
    line-height: 4px
}

.error,.p,.legend {
    background-color: red;
    text-align: center;
    color: white;
}
#unhappy {
    font-size: 60px
}   

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}

th, td {
    font-size: 12px;
    padding: 5px;
}

tr:hover {
    background-color: #f5f5f5
}

th {
    background-color: #4CAF50;
    color: white;
}

footer {
    text-align: center;
    font-size: 9px;
}
