body {
    width: 900px;
    margin: 0 auto;
    font-family: 'Consolas';
    font-size: 14px;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: lightgray;
    border-image: initial;
}

legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.text {
    line-height: 4px
}

.error,.p,.legend {
    background-color: red;
    text-align: center;
    color: white;
}
#unhappy {
    font-size: 60px
}   